# Database
DATABASE_URL=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# JWT
JWT_SECRET=

# Server
PORT=8080
NODE_ENV=development

# File Upload (if using external storage)
UPLOAD_URL=
UPLOAD_KEY=

# Admin credentials (DO NOT CHANGE)
ADMIN_EMAIL=darkadsterra@gmail.com
ADMIN_PASSWORD=jumanji789
